<p id="notice"><%= notice %></p>

<h1>Blogs page</h1>


<%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
<br/><br/>

<div class="row mb-2">
  <%= render @blogs %> <%# ici il cherche un partial appelé _blog au singulier, et il fait un foreach avec !!! %>
</div>

<div class="apple_pagination">
  <%= will_paginate @pblogs %>
</div>