<p id="notice"><%= notice %></p>

<h1>Blogs page</h1>


<div class="row mb-2">
  <%= render @blogs %> <%# ici il cherche un partial appelé _blog au singulier, et il fait un foreach avec !!! %>
</div>

<%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
