<h1>Pages#about</h1>

<div class="row">
  <div class="col-md-4">
    FDP
    <%= image_tag "supercopaProfile.jpg", width: 300 %>
    <%= image_tag "supercopa2.jpg", width: 300 %>

  </div>
  <div class="col-md-8">
    <p>Bla bla c'est ma description de mon super blog whoua c'est trop cool ce training (facepalm)</p>
  </div>
</div>

<p>Find me in app/views/pages/about.html.erb</p>
