<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<p><%= number_to_phone "0637015900" %></p>

<p><%= number_to_currency "149.99" %></p>

<p><%= number_to_percentage "99.9" %></p>

<p><%= number_with_delimiter "1000000" %></p>